# Google OAuth
GOOGLE_CLIENT_ID=115795527932-2q1afagsog0eg29pbdfn3qfs44e27uui.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=115795527932-2q1afagsog0eg29pbdfn3qfs44e27uui.apps.googleusercontent.com

# App
APP_URL=https://becoming.ashmofidi.com
APP_VERSION=3.1.0
APP_LIFECYCLE_STAGE=ENTERPRISE BETA
CURRENT_TOS_VERSION=1.0

# Vercel KV
KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=
